body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

#main-box {
    height: 380px;
    width: 320px;
    border: 2px solid black;
    margin-top: 100px;
}

.input-box {
    margin-left: 10px;
}

input {
    margin-top: -10px;
    padding-top: -43px;
}

.btn2 {
    margin-top: 10px;
}

.output {
    margin-top: -12px;
}
